@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat" sans-serif;
}
@layer base {
  body {
    @apply bg-lightGray dark:bg-secondary
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

